<!DOCTYPE html>
<html>
<head>
    <title>Lemp App, WORKING</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #c91818;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Lemp-app!<br>Enjoy the cat!</h1>
    <p>Time from the server: {{ time }}</p>
    <img src="{{ url_for('static', filename='cat.png') }}" alt="Kissa" width="300">
</body>
</html>
